{% extends "competition/base.html" %}

{% block content %}


<div class="container">
    <h2 class="text-center"><u>EQUIPES</u></h2><br>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>id_federation</th>
                <th>pays</th>

            </tr>
        </thead>
        <tbody>

            {% if d %}
            {% for i in d %}
            <tr>
                <td>{{ i.nom }}</td>
                <td>{{ i.id_federation }}</td>
                <td>{{ i.pays }}</td>

                



            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>

{% endblock %}